.site-header {
    position: relative;

    @include bk-xs-only {
        box-shadow: 0px 1px 0px rgba(0,0,0,.3);
    }

    &__line {
        position: relative;
        z-index: 5;
        height: 4px;
        background: linear-gradient(to right,#5e89c6 0,#5e89c6 20%,#3863a0 20%,#3863a0 40%,#5e89c6 40%,#5e89c6 60%,#3863a0 64%,#3863a0 80%,#5e89c6 80%,#5e89c6 100%);
    }

    &__main {
        position: relative;
        z-index: 3;
    }

    &__background {
        position: absolute;
        left:0; right: 0; top: 0;
        z-index: 2;
        background-color: #FCFCFC;
        @include bk-xs-only {
            height: 65px;
        }
        @include bk-sm-up {
            bottom: 0;
        }
    }

    &__logo {
        position: absolute;
        z-index: 5;
        @include bk-xs-only {
            left: $gutter-xs;
            top: $gutter-xs;
        }
        @include bk-sm-up {
            left: 17px; top: 36px;
        }
    }

    &__nav {
        position: relative;
        @include bk-xs-only {
            z-index: 1;
            box-sizing: border-box;
        }
        @include bk-sm-up {

            z-index: 3;
        }


    }

    .expand-button {
        @include bk-xs-only {
            right: $gutter-xs;
            top: $gutter-xs;
            display: block;
            position: absolute;
        }
        @include bk-sm-up {
            display: none;
        }
    }


}
