.site-footer {
    background: $color-blue;
    color: #FFF;
    font-size: 1.5rem;

    &__content {
        display: flex;
        align-items: center;
        height: 150px;
    }

    &__call {
        margin-left: auto;
    }

    &__call-link {
        color: #FFF;
        text-decoration: underline;
        font-weight: 700;
        &:hover {
            opacity: .8;
        }
    }
};
