/* You can add global styles to this file, and also import other style files */
#main {
    max-width: 1200px;
    margin: auto;
}

.site-header, .site-body {
    padding: 20px 20px;
}
.dropdown-toggle:hover {
    background: #F00;
}
.dropdown .dropdown-menu {
    margin: 0;
    padding: 10px;
}
.dropdown .dropdown-menu a {
    display: block;
    cursor: pointer;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.cart-nav .badge {
    background: #F63;
}
.dropdown-divider {
    height: 0;
    border-top: 1px solid #CCC;
    margin: 5px 0;
}
img {
    max-width: 100%;
}

.list {
    width: 100%;
}
.list .actions {
    width: 80px;
    text-align: right;
}
a {
    cursor: pointer
}
a:hover {
    text-decoration:none;
}

.list td, .list th {
    padding: 2px 10px;
}

.list tbody tr:nth-child(2n+1) {
    background: #FAFAFA;
}