.form {
    padding-top: 30px;
}

.select-networks label {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
}
.select-networks .color-display {
    display: inline-block;
    width: 20px; height: 20px;
    border: 1px solid #CCC;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding: 2px;
    border-radius: 4px;
}
.select-networks .color-display.fa-google-plus {
    font-size: 14px;
}
.select-networks .color-display.fa-facebook {
    font-size: 18px;
}
.select-networks .color-display.fa-linkedin {
    font-size: 18px;
}
.select-networks input[type="text"] {
    vertical-align: middle;
    width: 80px;
    height: 28px;
}
.select-networks li {
    border: 1px solid #CCC;
    padding: 5px;
    border-radius: 4px;
    height: 28px;
    position: relative;
    max-width: 500px;
}
.select-networks .grip {
    position: absolute;
    top:0px; right: 0px; bottom: 0px;
    border-radius: 0 4px 4px 0;
    width: 15px;

    border-left: 1px #CCC solid;
    background: #FAFAFA;
    cursor: pointer;
}
.select-networks .italic{
    font-style: italic;
    color: #666;
}
.select-networks .color-reset {
    font-size: 12px;
    cursor: pointer;
}
.radios label {
    margin-right: 10px;
}
