body {
    /*background-color: #F0FF00 !important;*/
}


.toptal-social-sharer.small  {
    padding: 8px;
}
.toptal-social-sharer.medium  {
    padding: 12px;
}
.toptal-social-sharer.large  {
    padding: 16px;
}

.toptal-social-sharer .toptal-social-link {
    border: 1px solid #CCC;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    box-shadow: none !important;
    cursor: pointer;
}
.toptal-social-sharer .toptal-social-link.hidden {
    visibility: hidden;
}
.toptal-social-sharer .toptal-social-link:hover {
    text-decoration: none;
    color: #666 !important;
}
.toptal-social-sharer.small .toptal-social-link  {
    font-size: 16px;
    width: 20px;
    line-height: 20px;
}
.toptal-social-sharer.small .toptal-social-link.fa-google-plus  {
    font-size: 12px;
}
.toptal-social-sharer.medium .toptal-social-link  {
    font-size: 32px;
    width: 36px;
    line-height: 36px;
}
.toptal-social-sharer.medium .toptal-social-link.fa-google-plus  {
    font-size: 22px;
}
.toptal-social-sharer.medium .toptal-social-link.fa-facebook, .toptal-social-sharer.medium .toptal-social-link.fa-linkedin {
    font-size: 28px;
}

.toptal-social-sharer.large .toptal-social-link  {
    font-size: 44px;
    width: 48px;
    line-height: 48px;
}
.toptal-social-sharer.large .toptal-social-link.fa-google-plus  {
    font-size: 28px;
}
.toptal-social-sharer.large .toptal-social-link.fa-facebook, .toptal-social-sharer.large .toptal-social-link.fa-linkedin {
    font-size: 44px;
}

.toptal-social-sharer.left {
    position: fixed;
    left: 20px;
    top: 30%;
    width: 48px;

}
.toptal-social-sharer.left .toptal-social-link {
    display: block;
    margin-bottom: 5px;
}
