.site-section__title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 100;
    color: #484848;

    width: auto;
    margin: 0 auto 60px auto;

    .title-text {
        display: inline-block;
        border-bottom: 1px solid #999;
    }
}

.landing__main {

    @include bk-xs-only {
        padding-top: 30px;
    }

    @include bk-sm-up {
        padding-top: 50px;
    }

    h1 {
        margin: 0 0 35px 0;
        font-weight: 400;
        font-size: 4.5rem;
        text-align: center;
        color: $color-blue;

        @include bk-xs-only {
            font-size: 2.8rem;
        }
    }

    p {
        @extend .inner-width-control;
        color: $color-text;
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 2rem;
        text-align: justify;
    }

    .slider {
        margin-top: 60px;
    }
}

.landing__why {

    .features {
        @extend .inner-width-control;
        display: flex;

        justify-content: space-between;
        @include bk-xs-only {
            flex-direction: column;
        };
        @include bk-sm-up {
            flex-direction: row;
        };
        &__item {
            @include bk-xs-only {
                flex-basis: 100%;
            };
            @include bk-sm-up {
                flex-basis: 30%;
            };
            @include bk-md-up {
                flex-basis: 26%;
            };

        }
    }
    .feature {
        &__img {
            max-width: 155px; height: 142px;
            margin: auto;
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: contain;
        }
        &__text {
            color: $color-text;
            font-size: 1.5rem;
            font-weight: 100;
            line-height: 2rem;
            text-align: justify;
            letter-spacing: -1px;
            padding-top: 25px;
            margin-top: 25px;
            border-top: 4px solid #D4D4D4;
        }


        .back-img__flag {
            width: 143px;
            background-image: url(img/flag.png);
            @media (-webkit-min-device-pixel-ratio: 2),  (-webkit-min-device-pixel-ratio: 3) {
                background-image: url(img/flag_@2x.png);
            }
        }
        .back-img__rocket {
            width: 143px;
            background-image: url(img/rocket.png);
            @media (-webkit-min-device-pixel-ratio: 2),  (-webkit-min-device-pixel-ratio: 3) {
                background-image: url(img/rocket_@2x.png);
            }
        }
        .back-img__spaceman {
            width: 143px;
            background-image: url(img/spaceman.png);
            @media (-webkit-min-device-pixel-ratio: 2),  (-webkit-min-device-pixel-ratio: 3) {
                background-image: url(img/spaceman_@2x.png);
            }
        }
    }


}

@keyframes example {
    from {right: 0%;}
    to {right: 100%;}
    // from {background-color: red;}
    // to {background-color: yellow;}
}

.landing__team {

    .team-wrapper {
        position: relative;
        overflow: hidden;
        padding: 0 17px;
    }
    .team {
        display: flex;
        direction: row;
        justify-content: space-between;
        max-width: 800px;
        min-width: 800px;
        margin: auto;
        text-align: center;
        position: relative;



        @media(max-width: 799px) {
            animation: example 20s linear infinite alternate;
        }



        &__member {
            flex-basis: 15.25%;

        }

        &__img-crop {
            position: relative;
            height: 124px;
            overflow: hidden;
            border-radius: 4px;
        }

        &__img {
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translate(-50%, 0);
            height: 124px;

        }

        &__member-name {
            margin-top: 15px;
            font-size: 1.5rem;
            line-height: 2;
            color: $color-blue;
        }
        &__member-country {
            font-size: 1.3rem;
            color: $color-text;
        }
    }

    .hero {
        background: linear-gradient(#FFF, #F2F2F2);
        position: relative;
        box-sizing: border-box;
        height: 336px;
        padding: 10px 0;
        margin-top: 50px;
    }
    .hero-title {
        position: absolute;
        // max-width: 80%;
        margin: 5px 0 0;
        color: #FFF;
        font-size: 3.5rem;
        font-weight: 100;
        text-align: center;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 1px 1px 1px rgba(0,0,0,.3);

        @include bk-sm-up {
            white-space: nowrap;
        };
    }
    .grid {
        display: grid;
        grid-gap: 4px;
        grid-template-rows: 144px 168px;
        grid-template-columns: 144px 144px 144px 144px 144px 144px 144px 144px 144px 144px 144px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        &__item {
            border-radius: 4px;
            background-image: url(img/grid.jpg);
            background-repeat: no-repeat;
            filter:grayscale(100%);

            &.grid__item--1 {
                background-size: cover;
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 3;
            }
            &.grid__item--2 {
                background-size: auto 400%;
                background-position: 40% 60%;
                grid-column-start: 5;
                grid-column-end: 6;
                grid-row-start: 1;
                grid-row-end: 2;
                filter:grayscale(0%);
            }
            &.grid__item--3 {
                background-size: auto 200%;
                background-position: 55% 70%;
                grid-column-start: 6;
                grid-column-end: 7;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            &.grid__item--4 {
                background-size: auto 300%;
                background-position: 60% 20%;
                grid-column-start: 5;
                grid-column-end: 7;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            &.grid__item--5 {
                background-size: auto 500%;
                background-position: 75% 35%;
                grid-column-start: 7;
                grid-column-end: 12;
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }


    }
}

.landing__become {
    .form {
        @extend .inner-width-control;


        &__flex {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -4px;
        }


        &__item {
            flex: 1;
            margin: 0 4px 16px 4px;
            min-width: 290px;
            max-width: 396px;
            border: 1px solid #EEE;
            background: #FAFAFA;
            border-radius: 4px;


            input[type="text"], input[type="email"], textarea {
                padding: 20px 20px 20px 40px;
                background: none;
                border: none;
                width: 100%;
                font-size: 1.6rem;
            }

            &--comment {
                flex: 2;
                flex-grow: 2;
                flex-basis: 800px;
                max-width: 800px;
                //min-width: 100%;
            }

            &--submit {
                border: none;
                background: none;
                text-align: center;
                .btn {
                    width: 290px;
                    padding: 25px 12px;
                }
            }

            &:not(.form__item--submit) {
                position: relative;
                &:before {
                    @extend .fa;
                    color: #B8B8B8;
                    font-size: 1.6rem;
                    position: absolute;
                    left: 16px; top: 20px;
                    width: 20px;
                    text-align: center;
                }
            }
            &--name {
                &:before {
                    content: $fa-var-user;
                }
            }
            &--email {
                &:before {
                    content: $fa-var-envelope;
                }
            }
            &--location {
                &:before {
                    content: $fa-var-map-marker;
                }
            }
            &--twitter {
                &:before {
                    content: $fa-var-twitter;
                }
            }
            &--comment {

                textarea {
                    resize: none;
                    line-height: 1.8rem;
                }
                &:before {
                    content: $fa-var-comment;
                }
            }


            @include bk-xs-only {

            };
            @include bk-sm-up {
                &--submit {
                    margin-left: auto;
                }
            };
        }
    }

}

.landing__profiles {
    padding-bottom: 70px;

    .profiles {
        font-size: 1.3rem;
        line-height: 2rem;
        @extend .inner-width-control;

        &__item {
            &:before {
                color: $color-text;
                content: "\30fb";
                width: 3px;
                margin: auto -2px;
            }
        }

        a {
            color: $color-text;
            &:hover {
                color: $color-text-dark;
            }
        }

        @include bk-sm-up {
            column-count: 3;
        }

        @include bk-md-up {
            column-count: 4;
        }

    }
}
