.site-viewport {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.site-section {
    padding-top: 60px;
}

.section-width-control {
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    margin: auto;
    @include bk-sm-up {
        padding: 0 13px 0 17px;
    }
    @include bk-xs-only {
        padding: 0 15px;
    };
}

.inner-width-control {
    max-width: 800px;
    margin: auto;
}
