html {
    font-size: 10px;
    font-family: "Proxima Nova",Arial,sans-serif;
}

a {
    text-decoration: none;
}

.ul-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

input[type="text"], input[type="email"],  textarea {
    box-sizing: border-box;
}
input::placeholder, textarea::placeholder {
    color: #B8B8B8;
}

.grayscale {
    filter: grayscale(100%);
}
