/* SPACING */
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;


/* COLORS */
$color-green: #2cb884;
$color-blue: #3b67a7;
$color-text: #A0A0A0;
$color-text-dark: #484848;


/* BREAKPOINTS */
@mixin bk-xs-only {
  @media (max-width: 599px) { @content; }
}
@mixin bk-sm-up {
  @media (min-width: 600px) { @content; }
}
@mixin bk-md-up {
  @media (min-width: 900px) { @content; }
}
@mixin bk-lg-up {
  @media (min-width: 1200px) { @content; }
}
@mixin bk-xl-up {
  @media (min-width: 1800px) { @content; }
}


/* LAYOUT */
$ly-header-height: 135px;
$ly-header-height-xs: 65px;
$ly-main-nav-height-xs: 468px;

$gutter-xs: 15px;
