<article class="clearfix">
  <a [routerLink]="[product.id]">
    <img [src]="product.img_url" alt="{{ product.name }}" class="img-responsive" />
  </a>
  <h4><a [routerLink]="[product.id]">{{ product.name }}</a></h4>
  <div class="pull-left price"><strong>{{product.price | currency:'USD':true}}</strong></div>
  <div class="pull-right">
      <app-add-to-cart [product]="product"></app-add-to-cart>
  </div>
  
</article>