<h4>{{ title }}</h4>

<div class="container">        
    <form (ngSubmit)="onSave(f)" #f="ngForm" novalidate>
    
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="product.name" required>
        </div>

        <!-- <div class="form-group">
            <label for="name">Image URL</label>
            <input type="text" class="form-control" name="img_url" [(ngModel)]="product.img_url" required>
        </div> -->

        <div class="form-group">
            <label for="name">Description</label>
            <textarea name="description" class="form-control" [(ngModel)]="product.description"></textarea>
        </div>
        
        <div class="form-group">
            <label for="name">Price</label>
            <input type="number" min="0" class="form-control" name="price" [(ngModel)]="product.price" required>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Save</button>
    
    </form>
</div>