
<div class="actions clearfix">
  <a class="btn btn-primary btn-sm pull-right" [routerLink]="['../edit', 0]">Add new Product</a>
</div>
<table class="list">
  <thead>
    <tr><th>Name</th><th class="actions"></th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of (productsState | async).products; let i = index" >
      <td>{{product.name}}</td>
      <td class="actions">
          <a class="edit glyphicon glyphicon-edit" [routerLink]="['../edit', product.id]"></a>
          <a *ngIf="loggedUser.role_id >= 100" class="remove glyphicon glyphicon-remove" (click)="onRemove(product.id)"></a>
      </td>
    </tr>
  </tbody>
</table>
