.btn {
    display: inline-block;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 12px;
    padding: 14px 12px 12px 12px;
    line-height: 1;
    text-shadow: 0px 1px rgba(0,0,0,.5);
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    box-shadow: inset 0px 1px  rgba(255,255,255,.4);
}
.btn--primary {
    color: #FFF;
    border-color:#187d56;
    background: linear-gradient(#43c692,#39b885);
}
