.expand-button {
    display: block;
    box-sizing: border-box;
    width: 30px; height: 30px;
    padding: 9px 5px;
    border: 1px solid #DADADA;
    border-radius: 4px;

    &__line {
        display: block;
        height: 2px;
        background: #DADADA;
        &:not(:first-child) {
            margin-top: 2px;
        }
    }
}
