.main-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-transform: uppercase;

    &__site-menu {
        border-top: 1px solid #ECECEC;
    }

    @include bk-xs-only {
        transition: all .5s ease-in-out;
        background: #F8F8F8;
        margin-top: $ly-header-height-xs - $ly-main-nav-height-xs;

        .main-nav-expanded & {
            margin-top: $ly-header-height-xs;
        }

        &__site-menu {

            order: 1;
        }
        &__user-menu {
            order: 2;
        }
    };
}
