.site-menu {
    display: flex;
    line-height: 1;
    @include bk-xs-only {
        flex-direction: column;
    }
    @include bk-sm-up {
        flex-direction: row;
        align-items: center;
        height: 43px;
    }

    &__item {
        @include bk-xs-only {
            padding: 10px 15px;
            text-align: center;
            &:not(:first-child) {
                border-top: 1px solid #ECECEC;
            }
        }
    }

    &__link, &__text {
        padding-top: 1px;
        color: $color-text;
        font-size: 1.3rem;

        @include bk-xs-only {


        }
        @include bk-sm-up {
            padding: 0 10px;
        }
    }
    &__call-us {

        .site-menu__text {
            padding: 0 0;
            color: #525252;
        }
        .site-menu__link {
            padding: 0 0;
            color: #363636;
            text-decoration: underline;
        }
        @include bk-sm-up {
            margin-left: auto;
        }
    }
    &__link:hover {
        color: $color-text-dark;
    }
}
