.slider {
    position: relative;
    //max-width: 100%;
    overflow: hidden;
    margin: 0 -4px;

    &__viewport {
        margin: 0 -4px;
    }
    &__band {
        position: relative;
        overflow: hidden;
        display: flex;
        z-index: 1;
        justify-content:space-between;
        &.centered {
            justify-content: center;
        }
    }
    &__item {
        margin: 0 4px;
        img {
            display: block;
        }
    }

    &__nav {
        @extend .fa;
        position: absolute;
        top: 0px; bottom: 0px;
        width: 50px;
        z-index: 10;
        cursor: pointer;
        background: rgba(0,0,0,.5);

        &:before {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: #FFF;
            text-shadow: 0 1px 1px rgba(0,0,0,.4);
        }

        &--left {
            left: 0px;
            &:before {
                content: $fa-var-chevron-left;
                left: 50%;
            }
        }

        &--right {
            right: 0px;
            &:before {
                content: $fa-var-chevron-right;
                left: 50%;
            }
        }
    }
}
