.user-menu {
    display: flex;
    @include bk-xs-only {
        flex-direction: column;

    }
    @include bk-sm-up {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        height: 88px;

        &__sign-in, &__join {
            padding-right: 21px;
        }
        &__company {
            padding-right: 7px;
        }
    }
    &__item {
        @include bk-xs-only {
            padding: 10px 15px;
            text-align: center;
            border-top: 1px solid #ECECEC;

        }
    }

    &__link:not(.btn), &__text {
        font-size: 1.4rem;
        font-weight: 500;
    }
    &__text {
        color: $color-text-dark;
    }
    &__link:not(.btn) {
        color: $color-text;
        &:hover {
            color: $color-text-dark;
        }
    }

    .btn {

        @include bk-xs-only {
            width: 100%;
        }
        @include bk-sm-up {
            width: 95px;
        }
    }
}
