body {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}
/*
h1 {
	color: #00406E;
	font-weight: normal;
	font-size: 22px;
}
h2 {
	color: #00406E;
	font-weight: bold;
	font-size: 18px;
}
*/
h3 {
	color: #00406E;
	font-size: 20px;
	font-weight: bold;
	margin: 30px 0 20px;
}

h4 {
	color: #00406E;
	font-weight: normal;
	font-size: 18px;
	font-style: italic;
}

.columns:before,
.columns:after {
  content: " ";
  display: table;
}
.columns:after {
  clear: both;
}
.columns:before,
.columns:after {
  content: " ";
  display: table;
}
.columns:after {
  clear: both;
}
.columns .column {
  float: left;
}
.columns .column:not(:first-child) {
  margin-left: 20px;
}
.columns .column ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.columns .column ul li {
  margin: 0;
}
.columns.columns-3 .column {
  width: calc((100% - 40px) / 3);
}
