<div class="date-masked">
    <div ng-form="dateForm" novalidate
        <div class="masked">
            <input type="text" step="1" name="month" ng-model="parsed.month" ng-required="required" placeholder="MM" class="month" />
            <span>/</span>
            <input type="text" step="1" name="day" ng-model="parsed.day" ng-required="required" placeholder="DD" class="day" />
            <span>/</span>
            <input type="text" step="1" name="year" ng-model="parsed.year" ng-required="required" placeholder="YYYY" class="year" />
        </div>

        <!-- <pre>
            dateForm.month.$touched: {{dateForm.month.$touched}}
            dateForm.month.$required: {{dateForm.month.$error.required}}

            dateForm.day.$touched: {{dateForm.day.$touched}}
            dateForm.day.$required: {{dateForm.day.$error.required}}

            dateForm.year.$touched: {{dateForm.year.$touched}}
            dateForm.year.$required: {{dateForm.year}}

        </pre> -->
        <div ng-show="(form.$submitted || dateForm.$submitted || dateForm.month.$touched || dateForm.day.$touched || dateForm.year.$touched) && displayErrors">
            <small class="error-message" ng-show="(dateForm.month.$touched && dateForm.month.$error.required)  || (dateForm.day.$touched && dateForm.day.$error.required) || (dateForm.year.$touched && dateForm.year.$error.required)">This field is required</small>

            <small class="error-message" ng-show="(dateForm.year.$touched && dateForm.year.$error.format)">Please use a four digit year</small>
            <small class="error-message" ng-show="(dateForm.year.$touched && dateForm.year.$error.range)">Please enter a year between 1900 and 2100</small>
            <small class="error-message" ng-show="((!dateForm.year.$error.required && !dateForm.month.$error.required && !dateForm.day.$error.required) && dateForm.year.$error.fulldate)">Please enter a valid date</small>

        </div>
    </div>

</div>
