<div class="address-group">

	<field-group label="Country" name="Country" required="required" ng-if="withCountry===true">
    	<select name="Country" data-ng-model="model.Country"  ng-required='required' ng-options="country.code as country.name for country in countries">
	    	<option value="" data-ng-show="!model.Country">[Please Select]</option>
	    </select>
    </field-group>
    
    <div ng-if="withCountry!==true || (model.Country)">
	   
	    <field-group label="Address 1" name="Street1" required="required">
	    	<input type="text" name="Street1" data-ng-model="model.Street1"  ng-required='required' />
	    </field-group>
	
	    <field-group label="Address 2" name="Street2">
	    	<input type="text" name="Street2" data-ng-model="model.Street2" />
	    </field-group>

        <field-group label="Zip Code" name="Zip" required="required">
            <input data-ng-if="model.Country === 'USA'" digits-only type="text" name="Zip" data-ng-model="model.Zip" ng-required='required' ng-change="addressByZip()" />
            <input data-ng-if="model.Country !== 'USA'" type="text" name="Zip" data-ng-model="model.Zip" ng-required='required' ng-change="addressByZip()" />
        </field-group>
	
	    <field-group label="City" name="City" required="required">
	    	<input type="text" name="City" data-ng-model="model.City"  ng-required='required' />
	    </field-group>
	
	    <field-group label="State" name="State" required="required">
	    	<select name="State" data-ng-model="model.State" ng-options="state.code as state.name for state in states" ng-required='required' ng-if="states.length > 0">
	            <option value="" data-ng-show="!model.State">[Please select]</option>
	        </select>
	        <input type="text" name="State" data-ng-model="model.State"  ng-required='required' ng-if="states.length == 0" />
	        
	    </field-group>
    </div>
</div>
