.date-masked {

    .masked {
        border: 1px solid #CCC;
        border-radius: 4px;
        background: #FFF;
        width: 142px;
        height: 22px;

        span {
            line-height: 22px;
            float: left;
            display: block;
            // width: 10px;
            text-align: center;
        }
        input {
            text-align: left;
            box-sizing: border-box;
            border: none;
            border-radius: 4px;
            float: left;
            line-height: 22px;
            height: 22px;
            padding: 0 6px;
            display: block;
            &:focus {
                outline: none;
            }
            &.day, &.month {
                width: 36px;
            }
            &.year {
                width: 50px;
            }
        }
    }
}
