.contacts-group {
	.contact-input {
		position: relative;

		&:not(:first-child) {
			margin-top: @gutter/2;
		}
		.add-remove {
			position: absolute;
			left: 100%;
			width: 20px;
			text-align: right;
		}
		select {
			width: 95px;
			float: left;
			min-width: 0;
		}
		.content-control {
			margin-left: 100px;
			label {
				font-weight: normal;
			}
		}
		&:not(:last-child) {
			.add {
				display: none;
			}
		}
		&:first-child {
			&:last-child {
				.remove {
					display: none;
				}
			}
		}
		@media (max-width: @screen-xs-max) {
			margin-right: 24px;
		}
	}

	.contacts-group-add-holder {
		position: relative;
		height: 24px;
		.add {
			position: absolute;
			right: -20px;
			top: 0px;
			display: inline-block;
			line-height: @gutter * 2;
			.fa {
				color: @color-text;
				font-size: 1.8rem;
				vertical-align: middle;
				margin-left: 5px;
			}
			.text {
				vertical-align: middle;
			}
		}
		@media (max-width: @screen-xs-max) {
			margin-right: 24px;
		}
	}


}
