            <div class="contacts-group">

                <div class="contact-input" ng-repeat="contact in contacts track by $index" ng-form="contactForm" novalidate>
    				<div class="add-remove">
    					<a ng-click="removeContact($index)" class="fa fa-minus-circle remove"></a>
    				</div>
                    <select name="contact.ContactType" ng-model="contact.ContactType" required ng-options="k as v for (k, v) in contactTypes"></select>

    				<div class="content-control">
	    				<input type="text" name="value" ng-model="contact.ContactValue" required ng-if="contact.ContactType !== 'E'" />

                        <input type="email" name="value" ng-model="contact.ContactValue" required ng-if="contact.ContactType === 'E'" />

<!--
					    <input type="text" name="value" ng-model="contact.ContactValue" ng-required="(contacts.length > 1 && $index < contacts.length-1) || required" ng-if="contact.ContactType !== 'E'" />

                        <input type="email" name="value" ng-model="contact.ContactValue" ng-required="(contacts.length > 1 && $index < contacts.length-1) || required" ng-if="contact.ContactType === 'E'" />
-->

<!--
                        <div ng-if="contact.ContactType==='C'">
                            <label><input type="checkbox" name="allow_sms" value="1"  ng-model="contact.allow_sms" /> Allow SMS Notification</label>
                        </div>
-->
    				</div>
                    <div ng-show="form.$submitted || contactForm.$submitted || contactForm.type.$touched || contactForm.value.$touched">
                        <small class="error-message" ng-show="contactForm.value.$error.required">This field is required</small>
                        <small class="error-message" ng-show="contactForm.value.$error.email">Must be a valid email</small>
                    </div>

    			</div>

    			<div class="contacts-group-add-holder">
	    			<a ng-click="addContact()" class="add">  <span class="text">Add Contact</span> <span class="fa fa-plus-circle"> </span></a>
	    		</div>
            </div>
