<div class="search-group input-typeahead" ng-class="{searching: searching}">
	<div class="input-holder" style="position: relative">
		<input type="search" ng-change="onChange(e)" ng-model="search" ng-blur="onBlur($event)" ng-keydown="onKeyDown($event, false)" search-input ng-attr-placeholder="{{placeholder}}" data-ng-model-options="{ debounce: 500 }" />
		<div class="input-group-addon">
			<i class="fa fa-search"></i>
		</div>
	</div>
    <ul tabIndex="0" class="list search-results" ng-keydown="onKeyDown($event, true)" ng-if="list.length > 0" results-list>
        <li class="" ng-class="{active: selected === $index}" ng-repeat="item in list track by $index" ng-click="selectItem(item)">{{getDisplay(item)}}</li>
    </ul>
	<div class="input-typeahead-selection" ng-if="multiple">
		<span ng-repeat="e in item track by $index"><span class="text">{{e[tagDisplay]}}</span><a ng-click="removeItem($index)">x</a></span>
	</div>
</div>
